# Django
DATABASE_URL=yourdburl
DJANGO_SECRET_KEY=yourdjangosecretkey
DEBUG=1 or 0
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=pathto.settings

# Database
POSTGRES_DB=yourdbname
POSTGRES_USER=yourdbusername
POSTGRES_PASSWORD=yourdbpassword

# Redis / Celery
REDIS_URL=yourredisurl
CELERY_RESULT_BACKEND=yourresultbackendurl

# Gunicorn tuning
GUNICORN_WORKERS=numberofworkers
GUNICORN_THREADS=numberofthreads
GUNICORN_TIMEOUT=timeoutamount
GUNICORN_PORT=port
GUNICORN_HOST_PORT=hostport

# Celery tuning
CELERY_QUEUES=queuename
CELERY_CONCURRENCY=concurencynumber
CELERY_AUTOSCALE=max,min
CELERY_LOGLEVEL=loglevel

# Entrypoint flags
RUN_MIGRATIONS=1 or 0
RUN_COLLECTSTATIC=0 or 1

# Flower
CELERY_BROKER_URL=yourbrokerurl
FLOWER_BASIC_AUTH=user:pass
FLOWER_PORT=portnumber