# Django
DATABASE_URL=postgres://postgres:postgres@db:5432/djcsvimportdb
DJANGO_SECRET_KEY=cz3n#dd$efqe-6aamem9xsqyn$d_=vmnsi2(z=1o_dg!+vzs$_
DEBUG=1
ALLOWED_HOSTS=*
DJANGO_SETTINGS_MODULE=src_package.settings

# Database
POSTGRES_DB=djcsvimportdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Gunicorn tuning
GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120
GUNICORN_PORT=8000
GUNICORN_HOST_PORT=8000

# Celery tuning
CELERY_QUEUES=import
CELERY_CONCURRENCY=4
CELERY_AUTOSCALE=10,2
CELERY_LOGLEVEL=info

# Entrypoint flags
RUN_MIGRATIONS=1
RUN_COLLECTSTATIC=0

# Flower
CELERY_BROKER_URL=redis://redis:6379/0
FLOWER_BASIC_AUTH=admin:admin
FLOWER_PORT=5555